# Node modules
node_modules

# Build & cache files
.cache
.dist
.next
.turbo
.esbuild
.serverless

# Environment variables
.env
.env*.local
.env.prod
.env.dev
.env.test

# Typescript
*.tsbuildinfo
next-env.d.ts

# Database
.postgres
.redis

# Logs
.logs

# Others
.temp
*.local.*
.DS_Store
