@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@import './antd.css';

/* Scrollbar */
::-webkit-scrollbar {
  @apply h-1 w-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary;
}

/* Autofill color disable */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 2147483647s ease-in-out 0s;
  -webkit-text-fill-color: #27272a;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

* {
  @apply font-outfit box-border;
}

html {
  @apply scroll-smooth;
}

html,
body {
  @apply border-zinc-200 bg-white text-base font-normal text-zinc-800;
}

body {
  @apply relative h-screen w-full;
}

.mz-text-transition {
  @apply transition-all duration-300 ease-in-out;
}

.artist-menu-menu-item,
.playlist-menu-menu-item,
.track-menu-menu-item {
  @apply px-0 py-0;
}

.mz-dropdown-menu-item {
  @apply flex w-full min-w-48 items-center gap-2 px-3 py-2 text-sm;
}

.mz-dropdown-menu-item > svg {
  @apply text-primary size-4;
}

.mz-pill {
  @apply border-primary bg-primary/10 flex w-fit select-none items-center overflow-hidden rounded-full border px-2 text-sm;
}

.mz-banner-image {
  @apply bg-inherit;
}

/* Audio Tag CSS */
audio {
  @apply !w-[90%] !text-white;
}

audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-enclosure {
  @apply bg-secondary rounded-md;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  text-shadow: none;
  @apply font-medium;
}

.mz-accent-drawer-form-footer {
  @apply bg-primary-light absolute bottom-0 left-0 z-10 grid w-full grid-cols-2 gap-4 p-6;
}

/* Remove focus outline from Recharts SVG elements */

.recharts-wrapper svg:focus,
.recharts-wrapper svg:focus-visible,
.recharts-wrapper svg:active {
  outline: none !important;
  border: none !important;
}

.recharts-wrapper svg *:focus,
.recharts-wrapper svg *:focus-visible,
.recharts-wrapper svg *:active {
  outline: none !important;
  border: none !important;
}
