name: Lint, Format and Typecheck

on:
  pull_request:
    branches:
      - main

jobs:
  lint-format-typecheck:
    name: Lint, Format and Typecheck Job
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Check format
        run: npx prettier --check "**/*.{json,js,jsx,ts,tsx,md}"

      - name: Run typecheck
        run: npm run typecheck
